* {
  margin: 0;
}


.app {
  background-color:  #fafafa;
  display: flex;
}
.app_authentication{
    padding-top: 6px;
    display: flex;
    flex-direction: column;
}


.app_Header{
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app_HeaderImage{
  background-color: white;
  object-fit: contain;
  height: 5vh;
}

.app_posts{
  padding: 20px;
  position: absolute;
  left: 33%;
  display: flex;
  flex-wrap: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 100%;
}

.signInPrompt{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.fab {
  right: 40px;
    bottom: 40px;
    position: fixed;
}